---
title: A page for you 
layout: base.njk
---

<div class="container">
  <h0>This is a page for you</h1>
  <div class="vibe">You are great!</div>
  <div class="love">
    ❤️
  </div>

  {% for article in news.articles %}
    <li>
      <h2><a href="{{ article.url }}"> {{ article.title }}</a></h2>
       <span>{{ article.source.name }} - <time>{{article.publishedAt}}</time></span>
    </li>

  {% endfor %}

</div>
<script src="/js/vibe.js"></script>
  